
body{
    width: 100vw;
    height: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    overflow: hidden;

}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3% 8%;
}

.logo{
    color: rgb(21, 115, 255);
    font-size: 17px;
    font-weight: 900;
    text-align: center;
    border: 5px dotted rgb(21, 115, 255);
    padding: 10px 30px ;
    letter-spacing: 5px;
    background-color: rgba(0, 0, 255, 0.089);
    margin-bottom: 5px;
    box-shadow: inset 1px 1px 2px 2px rgba(0, 0, 0, 0.199);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.753);
}



.parameters{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid rgba(21, 115, 255, 0.521);
    width: 290px;
    text-align: center;
    padding: 4px 0;
    background-color: rgba(238, 130, 238, 0.075);
    border-radius: 7px;
    color: rgba(0, 0, 0, 0.897);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.11);
}

.box1{
    margin-top: 6px;
    padding-bottom: 9px;
    padding-top: 8px;
    margin-bottom:10px;
    position: relative;
}

.textInput{
    padding-top: 5px;
    border: 2px solid rgba(0, 0, 255, 0.568);
    background: rgba(0, 140, 255, 0.171);
    text-align: center;
    border-radius: 5px;
    min-height: 25px;
    padding-left: 6px;
    padding-right: 6px;
    box-shadow: 2px 2px 5px 0.1px rgba(0, 0, 0, 0.404), inset 1px 1px 4px 0.1px black;
}
.textInput::placeholder{
    color:rgba(92, 8, 71, 0.445);
    font-size: 15px;
    text-shadow: 1px 1px rgba(255, 0, 0, 0.062);
}


.textInput:focus{
    outline: none;
    color: rgb(182, 46, 46);
    caret-color: red;
}

#minLength:hover{
    cursor: pointer;
}

#minLength:focus{
    background: rgba(3, 255, 3, 0.096);
}

#minLength:focus::placeholder{
    color:rgba(3, 255, 3, 0.096);
}


#pass{
    width: 300px;
    height: 80px;
    margin-bottom:10px;
}

.buttons{
    width: 275px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

button{
    height: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.596), inset 1px 1px 2px 1px rgba(0, 0, 0, 0.11);
}

button:hover{
    background: rgba(255, 0, 0, 0.267);
}
button:focus{
    outline: none;
    background: rgba(255, 0, 0, 0.267);
}


.checkbo:focus{
    outline:none;
}

.checkbo{
    -webkit-appearance: none;
    background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.377), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.checkbo:active, .checkbo:checked:active{
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}


.checkbo:checked{
    background-color: #2facff96;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.185);
	color: #467ea8;
}

.checkbo:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}


#infoBox{
    display: flex;
    text-align: center;
    background: rgba(255, 0, 0, 0.274);
    width: 90%;
    padding: 10px 10px;
    border-radius: 5px;
    border: 2px solid rgb(255, 111, 111);
    display: none;
}

#infoTxt{
    list-style: none;
    color: rgb(216, 79, 79);
}

#infoTxt li{
    margin-bottom: 6px;
}

.passCard{
    position: relative;
    display: flex;
    justify-content: center;
}



#card{
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color:rgb(255, 0, 0);
    position: absolute;
    border-radius: 40px;
    bottom:50px;
    opacity: 0;
    justify-content: center;
    box-shadow: inset 1px 1px 10px 1px black;
    border: 1px solid pink;
    color:white;
}

#card p{
    text-align: center;
}

.tooltip{
    position: relative;
    background: rgba(255, 0, 0, 0);
    width:1px;
    height: 1px;
    border-radius: 100%;
    opacity:0;
    z-index: 20;
    pointer-events: none;
}

.tooltip::before, .tooltip::after{
    position: absolute;
}



.tooltip::before{
    content: '';
    border-width: 10px 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #ff0404 transparent;
    left: 67px;
    top:-2px;
}

.tooltip::after{
    content:attr(data-tooltip);
    color:rgb(255, 255, 255);
    width: 220px;
    height: 50px;
    background:#ff0404;
    top:18px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    left: -80px;
    border-radius: 5px;
}



.tooltipB{
    position: relative;
    background: rgba(255, 0, 0, 0);
    border-radius: 100%;
    opacity:0;
    z-index: 20;
    pointer-events: none;
}



.tooltipB::before, .tooltipB::after{
    position: absolute;
}



.tooltipB::before{
    content: '';
    border-width: 10px 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #ff0404 transparent;
    left: 67px;
    top:-2px;
}

.tooltipB::after{
    content:attr(data-tooltip);
    color:rgb(255, 255, 255);
    width: 220px;
    height: 50px;
    background:#ff0404;
    top:18px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    left: -80px;
    border-radius: 5px;
}





.tooltipC{
    width: 1px;
    height: 1px;
    background: transparent;
    position: relative;
    opacity: 0;
    z-index: 20;
}

.tooltipC::before, .tooltipC::after{
    position: absolute;
}

.tooltipC::before{
    content: '';
    border-width: 10px 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #ff0404 transparent;
    left:60px;
    bottom:-8px;
}

.tooltipC::after{
    content:attr(data-tooltipC);
    color:rgb(255, 255, 255);
    width: 220px;
    height: 50px;
    background:#ff0404;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;  
    top:8px;
    left: 15px;
}
.clearbox{
    width: 220px;
    height: 60px;
    position: absolute;
    z-index:30;
    display: none;
    top:165px;
    left:175px;
} 

.i{
    position: relative;
    pointer-events: none;
}

.i::before{
    position: absolute;
    content: '';
    transform: scale(1.3);
    width: 2px;
    height: 15px;
    background-color: #af0000;
    left:-74px;
    top:-7px;
    animation-name: blink;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    opacity: 1;
    text-shadow: 0px 1px red;
    text-shadow: 0px -1px red;
}

#minLength:focus + .i{
    display: none;
}


@keyframes blink {
    from {opacity: 1;}
    to {opacity: 0;}
}

